/bin/
/.metadata/
*.html
*.class
*.zip
*.DS_Store
*.properties
*.js
*.css
*.jpg
*.lst
*.classpath
*.xml
/media/
/JFreeChart v3.0/Assignment3-artifacts/JFreeChart-ModifiedJavadoc/
JFreeChart_Lab4/.settings/org.eclipse.jdt.core.prefs
